                  === SOBRE LOS FICHEROS DE CONFIGURACIÓN ===
 
Sintaxis
¯¯¯¯¯¯¯¯
Se trata de un fichero de texto organizado por líneas de, como máximo, 80
caracteres. El final de una línea viene definido por el carácter '\n'
(ASCII 10); los caracteres siguientes formarán parte de la siguiente línea.
Las líneas pueden ser de tres tipos: comentarios, líneas en blanco o
asignaciones. A partir de ahora se entenderá como "espacio" el carácter de
espacio en blanco ' ' (ASCII 32) o bien el carácter de tabulador horizontal
'\t' (ASCII 9).

Los comentarios son líneas que comienzan por el carácter '#' (ASCII 35),
opcionalmente precedido por espacios, y que, a partir de ahí, no se tiene
en cuenta su contenido hasta la siguiente línea. Las líneas en blanco
únicamente pueden contener espacios.

Las asignaciones son líneas que deben contener tres elementos: la clave, el
carácter '=' (ASCII 61) y un número entero o decimal siendo el punto, '.'
(ASCII 46) el delimitador de parte entera y parte decimal. La clave es el
nombre de un parámetro de la configuración; los nombres se forman de una
letra minúscula seguida de letras minúsculas (nunca acentos) o el carácter
'_' (ASCII 95); el número será el valor asignado al parámetro identificado
por dicha clave, debe ser un número positivo.  Opcionalmente, puede haber
espacios al principio de la línea (i.e. antes de la clave) entre la clave y
el carácter '=', entre este carácter y el numero y desde el número hasta el
final de la línea. Los siguientes ejemplos son asignaciones correctas: 

	nombre_del_parametro	= 999.999
	nombre_del_parametro=9
	nombre_del_parametro=	9.999
	nombre_del_parametro	=9999


Significado de los parámetros
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
Puesto que la planta de la carpa se dibuja sobre el plano XY (aunque
posteriormente se rota 90º sobre el eje X) consideraremos la anchura como
la coordenada X, la longitud (profundidad) como la coordenada Y y la altura
como la coordenada Z.

* Carpa
	
	Se entienden como laterales los extremos cilíndricos de la carpa y
	frontales los lados "planos". Las dimensiones totales de la carpa
	corresponden a:

		total anchura = carpa_frontal_ancho + 2*carpa_lateral_radio
		total longitud = 2 * carpa_lateral_radio
		total altura = carpa_faldon_alto + carpa_techo_alto

* Gradas

	Existe una constante editable en tiempo de compilación que define
	la separación entre el faldón de la carpa y las gradas interiores
	para evitar problemas con el z-buffer; la constante se llama
	SEP_GRADAS_CARPA. Las siguientes condiciones son necesarias para
	visualizar correctamente la escena:

		gradas_alto < carpa_faldon_alto
		gradas_largo < carpa_lateral_radio + SEP_GRADAS_CARPA
		grada_frontal_ancho <= carpa_frontal_ancho

* Cámara

	El aspect ratio se define según las proporciones de la ventana de
	visualización. El resto de los parámetros deben cumplir lo siguiente:

		fov < 180.0           [Recomendable: fov < 150.0]
		z_far > z_near > 0.0


$Id$

